.page {
  background: #F0F2FF;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #214ad9;
  margin-top: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.content img {
  width: 500px;
  height: 500px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSide p {
  text-align: center;
  color: #214AD9;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: -1rem;
}
