.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.titleHome {
  margin-right: 45.4rem;
}

h2 {
  margin-top: 2rem;
  font-weight: lighter;
  color: #59656F;
}

.btnAddTask {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background: #7B78FF;
  padding: .4rem;
  border-radius: .5rem;
  color: white;
}

.btnAddTask:hover {
  cursor: pointer;
}

.btnAddTask img {
  width: 20px;
  height: 20px;
}

.tasksDates {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid #59656F;
  border-radius: .5rem;
  padding: .6rem;
  overflow: hidden;
}

.tasksDates > span {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form > label {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > label > input {
  height: 2rem;
}

form > label > textarea {
  width: 100%;
  padding-top: 10px;
  height: 5rem;
}

form > label > input, textarea {
  text-indent: 10px;
  background: #F0F2FF;
  border-radius: 0.5rem;
}

.currentDay {
  background: #59656F;
  font-weight: bold;
  color: white;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.tasksDates img:nth-child(2) {
  margin-right: 90%;
}

.tasksDates img {
  width: 20px;
  height: 20px;
}

.tasksDates img:hover {
  cursor: pointer;
}

.tasksItems1 {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tasksItems1 .taskContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #7B78FF;
  padding: .4rem .7rem;
  border-radius: .5rem;
  color: white;
}

.tasksItems1 .taskContainer div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksItems1 .taskContainer img {
  width: 23px;
  height: 23px;
}

.tasksItems1 .taskContainer img:hover {
  cursor: pointer;
}

.tasksItems1 .taskContainer .completeTask {
  width: 20px;
  height: 20px;
  border-radius: .5rem;
}

.tasksItems1 .urgent {
  display: flex;
  align-items: center;
  gap: .4rem;
  background: red;
  padding: .3rem .4rem;
  font-size: .85rem;
  color: white;
  border-radius: .5rem;
}

.tasksItems1 .urgent img {
  width: 20px;
  height: 20px;
}

/* -------------------------------------------- */

.tasksItems2 {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tasksItems2 .taskContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  padding: .4rem .7rem;
  border-radius: .5rem;
  color: #59656F;
  border: 2px solid #59656F;
}

.tasksItems2 .taskContainer img {
  width: 23px;
  height: 23px;
}

.tasksItems2 .taskContainer img:hover {
  cursor: pointer;
}

.tasksItems2 .taskContainer .completeTask {
  width: 20px;
  height: 20px;
  border-radius: .5rem;
}

/* ---------------------------------------------- */

.divide {
  height: 100%;
  width: 3px;
  background: #59656F;
}